databases   = {{ databases }}
backupdir   = /var/backups/mysql
hotcopy     = no
sqldump     = yes 
compress    = yes
sqldumpoptions = --single-transaction --complete-insert --add-drop-table --quick --quote-names
