#!/bin/sh                                                                                                                                                                                                          
# borg backupninja backup script
REPOSITORY={{ local_borg_dir }}
export BORG_PASSPHRASE='{{ lookup('passwordstore', client + '/' + hostname + '/borg/local create=true length=32') }}'

{% include 'borg-shared.j2' %}