#!/bin/sh
# borg backupninja backup script
REPOSITORY="{{ rsyncnet_user }}@{{ rsyncnet_server }}:{{ client + '-' + hostname }}"
export BORG_PASSPHRASE='{{ lookup('passwordstore', client + '/' + hostname + '/borg/remote create=true length=32') }}'
# On rsync.net: Specify /usr/local/bin/borg/borg for borg 0.29; /usr/local/bin/borg1 for 1.x
REMOTE_PATH=/usr/local/bin/borg1/borg1

info "Starting borg backup"

# Run the backup.
OUTPUT=$( (
borg create --warning --filter=AME --stats  --list --compression lz4         \
--remote-path $REMOTE_PATH \
$REPOSITORY::'{hostname}-{now:%Y-%m-%d}' \
/etc \
/var \
/opt \
/root \
/home \
/usr/local/bin \
/usr/local/sbin \
/var/lib/dpkg/status \
/var/lib/dpkg/status-old \
--exclude '*/templates_c' \
--exclude '*/tmp/' \
--exclude '*/temp/' \
--exclude '/home/*/.steam/steam/steamapps/common/' \
--exclude '/home/*/.cache' \
--exclude '/root/.cache' \
--exclude '/home/*/.mozilla/firefox/*/Cache' \
--exclude '/var/backups/borg' \
--exclude '/opt/borg' \
--exclude '/var/cache' \
--exclude '/var/lib' \
--exclude '/home/*/.composer/cache' \
--exclude '/home/*/.config/Code/*/bmewburn.vscode-intelephense-client' \
--exclude '/home/*/.config/google-chrome' \
--exclude '/home/*/.config/Nextcloud/logs' \
--exclude '*/site/default/files/css/' \
--exclude '*/site/default/files/js/'
) 2>&1)
if [ $? -ne 0 ]
  then
  warning $OUTPUT
fi
info $OUTPUT

# Remove old backups.
OUTPUT=$( (
borg prune -v $REPOSITORY --prefix '{hostname}-' --keep-daily=15 --keep-weekly=9 --keep-monthly=6 --remote-path $REMOTE_PATH
) 2>&1)
if [ $? -ne 0 ]
  then
  warning $OUTPUT
fi
info $OUTPUT

# Check the integrity of the backup.
OUTPUT=$( (
borg check $REPOSITORY --remote-path $REMOTE_PATH
) 2>&1)
if [ $? -ne 0 ]
  then
  warning $OUTPUT
fi
info $OUTPUT
unset BORG_PASSPHRASE
