info "Starting borg backup"

# Run the backup.
OUTPUT=$( (
borg create --warning --filter=AME --stats  --list --compression lz4         \
{% if remote_path is defined -%}
--remote-path $REMOTE_PATH \
{% endif -%}

$REPOSITORY::'{hostname}-{now:%Y-%m-%d}' \
/etc \
/var \
/root \
/home \
/opt \
/srv \
/usr/local/bin \
/usr/local/sbin \
/var/lib/dpkg/status \
/var/lib/dpkg/status-old \
--exclude '**/templates_c' \
--exclude '**/tmp/' \
--exclude '**/temp/' \
--exclude '/home/*/.steam/steam/steamapps/common/' \
--exclude '/home/*/.cache' \
--exclude '/root/.cache' \
--exclude '/home/*/.mozilla/firefox/*/Cache' \
--exclude '**/borg' \
--exclude '/var/cache' \
--exclude '/var/lib' \
--exclude '/home/*/.composer/cache' \
--exclude '/home/*/.config/Code/*/bmewburn.vscode-intelephense-client' \
--exclude '/home/*/.config/google-chrome' \
--exclude '/home/*/.config/Nextcloud/logs' \
--exclude '**/site/default/files/css/' \
--exclude '**/site/default/files/js/'
) 2>&1)
# Are there any errors from the backup?
if [ $? -ne 0 ]
then
  # Is the error that a file changed?
  echo $OUTPUT | grep 'file changed while we backed it up'
  if [ $? -eq 0 ]
  then
    # Is the changed file one that's ok to change?  Currently files in /var/log, or in "wp-content/wflogs".
    echo $OUTPUT  | sed --regexp-extended 's/ (A|M) /\n\1 /g' | grep -v --perl-regexp '(?:\/var\/log|.*wp-content\/wflogs).*file changed while we backed it up' | grep 'file changed while we backed it up'
    if [ $? -ne 1 ]
    then
      warning 'Hey some files changed and were not filtered out by my new magic'
      warning $OUTPUT
    fi
  else
    warning $OUTPUT
  fi
fi
info $OUTPUT

# Remove old backups.
OUTPUT=$( (
borg prune -v $REPOSITORY --glob-archives '{hostname}-*' --keep-daily=15 --keep-weekly=9 --keep-monthly=6 {% if remote_path is defined %} --remote-path $REMOTE_PATH {% endif %} 
) 2>&1)
if [ $? -ne 0 ]
  then
  warning $OUTPUT
fi
info $OUTPUT

DOW=$(date +'%A')
  if [[ $DOW == 'Sunday' ]]
  then
  # Check the integrity of the backup.
  OUTPUT=$( (
  borg check $REPOSITORY
  ) 2>&1)
  if [ $? -ne 0 ]
    then
    warning $OUTPUT
  fi
  info $OUTPUT

  # Compact the backup.
  OUTPUT=$( (
  borg check $REPOSITORY
  ) 2>&1)
  if [ $? -ne 0 ]
    then
    warning $OUTPUT
  fi
  info $OUTPUT
  unset BORG_PASSPHRASE
fi
